.GeneralDIV {
  /* margin: 10px 10px 10px 10px;
  border:1px solid #58A6FF;
  padding: 10px 10px 10px 10px; */
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

a {
  color: #58A6FF;
}

body {
  font-family: Arial;
  font-size: calc(3vw);
  background-color: #161b22;
  color: #C3CCD4;
}

p {
  font-size: 2em;
}

.header-container,
.body-container,
.footer-container {
  max-width: 1024px;
  margin: 0 auto;
}

strong {
  color: #58A6FF;
}

.pCenter {
  text-align: center;
}

li {
  text-align: left;
  list-style-position: inside;
  font-size: 1.3em;
  /* padding: 1em 1em 1em 0px; */
}

table,
tr,
td {
  border: 0.05em solid #58A6FF;
  border-collapse: collapse;
}

.aPageName {
  text-shadow: 0 0 1em #58A6FF, 0 0 1em #214C87;
  text-align: center;
  color: #58A6FF;
  font-size: 3em !important;
  font-weight: bold;
  display: block;
}

.beautifullyFooter {
  text-shadow: 0px 0px 6em #58A6FF, 0 0 1em #214C87;
  color: #58A6FF;
  font-size: 1.5em !important;
  font-weight: bold;
}

.MyFooter {
  color: #276ebe;
  font-size: 0.7em !important;
  font-weight: normal;
  text-align: center;
}


/* BUTTONS */

.aButton {
  color: #58A6FF;
}

.menuBTN {
  color: #58A6FF;
  background-color: #21262D;
  display: inline-block;
  border: solid 0.05em #58A6FF;
  border-radius: 0.3em;
  text-align: center;
  font-size: 3em;
}

.GroupButton button {
  background-color: #21262D;
  border: 0.05em solid #8B949E;
  border-radius: 0.5em;
  /*закругленные углы*/
  color: #8B949E;
  width: 90%;
  align-items: center;
  font-size: 2.7em;
  text-align: center;
  padding: 0.25em 0 0.25em 0;
  margin: 0 0 0.2em 0;
  /*расположение от верха, правой стооны, низа и левой стооны*/
}

.DIVLabels {
  text-align: center;
}

.MenuSectionStyle {
  display: block;
  background-color: transparent;
  right: 0;
  left: 0;
  top: 0;
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbarDiv {
  margin-top: 1em;
  margin-right: 6em;
  float: right;
}

/*ESMA*/

.beautifully {
  text-shadow: 0 0 1em #58A6FF, 0 0 1em #214C87;
  color: #58A6FF;
  font-size: 2.7em !important;
  font-weight: bold;
  text-align: center;
}

.beautifullySmal {
  text-shadow: 0 0 1em #58A6FF, 0 0 1em #214C87;
  color: #58A6FF;
  font-size: 2.5em !important;
  font-weight: bold;
  text-align: center;
}

.beautifullyDate {
  color: #C3CCD4;
  text-align: center;
  font-size: 2em !important;
}

/* TABLES STYLE */

table {
  color: #C3CCD4;
  text-align: left;
  border-collapse: collapse;
  background-color: #161b22;
  width: 100%;
  margin: auto;
}

table td {
  border: 0.05em solid #58A6FF;
  border-collapse: collapse;
  font-size: 3.2em;
  text-align: left;
  color: #C3CCD4;
  padding: 0.1em 0.1em 0.1em 0.1em;
}

/* CHEKBOX STYLE */

input[type="checkbox"]+label:before {
  content: "\1f497";
  float: right;
  font-family: FontAwesome;
  font-size: 1em;
}

input[type="checkbox"]:checked+label:before {
  content: "\1f49a";
}

@media screen and (min-width: 1081px) {
  body {
    font-size: calc(1080px*3/100);
  }